@using Microsoft.AspNetCore.Http
@model MovieFormViewModel

@{
    ViewData[index: "Title"] = "Movie Details";
    var movie = Model;
}

<h1 class="display-1">@ViewData[index: "Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title">@movie.Title</h3>
                <p>
                    <strong>Genre: </strong> @(movie.Genre) <br />
                    <strong>ReleaseDate: </strong> @(movie.ReleaseDate) <br />
                    <strong>UploadedBy: </strong> @(movie.UploadedBy) <br />
                    <strong>Description: </strong><br /> @(movie.Description)
                </p>
            </div>

            @if (Context.Session.GetInt32("userId") == movie.UserId)
            {
                <div class="card-footer text-end">
                    <a href="/movies" class="btn btn-sm btn-primary">Back to List</a>
                    <a href="/movies/@movie.Id/edit" class="btn btn-sm btn-warning">Edit</a>
                    <a href="/movies/@movie.Id/delete" class="btn btn-sm btn-danger">Delete</a>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-3">
            <div class="card-body">
                <h2 class="card-title">Stats</h2>
                <p>
                    <strong>Ratings:</strong> @movie.RatingsCount<br />
                    <strong>Average Rating:</strong> @movie.AverageRating<br />
                </p>
                <p><strong>Rated by:</strong></p>
                <ul>
                    @foreach (var rater in movie.Raters)
                    {
                        <li>@rater</li>
                    }
                </ul>
            </div>
        </div>
        @await Html.PartialAsync("RatingForm", movie.RatingFormViewModel)
    </div>
</div>